@font-face {
  font-family: "Old London";
  src: url("oldlondon-webfont.woff") format("woff"),
    url("OldLondon.ttf") format("truetype");
}

body {
  font-family: "Merriweather", sans-serif;
  color: white;
  margin: 0;
}

#Title {
  font-family: "Old London", cursive;
  font-size: 6em;
  padding: 0% 5%;
  margin-bottom: 0.15em;
}

#subtitle {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 2em;
  padding: 0% 2%;
  margin-top: 0.1em;
}

#heading {
  margin-bottom: 4em;
}

#Publications {
  font-size: 2em;
  font-style: italic;
  margin-bottom: 5px;
}

#publication-description {
  font-size: 1.5em;
  margin: 0px 8px 20px 8px;
}

#Top {
  background-color: rgb(65, 25, 81);
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: table;
}

#PDF-preview {
  border-radius: 10%;
  max-width: 800px;
  width: 80%;
  height: auto;
}
#site-description {
  text-align: right;
  margin-right: 15px;
  margin-bottom: 5px;
}
