@font-face {
  font-family: "Old London";
  src: url("oldlondon-webfont.woff") format("woff"),
    url("OldLondon.ttf") format("truetype");
}

body {
  font-family: "Merriweather", sans-serif;
  color: white;
  margin: 0;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*reset for mobile browsers */
  font-weight: normal;
}

#content {
  margin: 0% 15%;
}

#Title {
  font-family: "Old London", cursive;
  font-size: 400%;
  padding: 0% 5%;
  margin-bottom: 1%;
  margin-top: 2.5%;
  line-height: 0.9;
}

#subtitle {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 170%;
  padding: 0% 2%;
  margin-top: 0.1em;
}

.published-title {
  font-size: 135%;
}

#heading-home {
  margin-bottom: 10%;
}

#heading-content {
  margin-bottom: 3.5%;
}

#Publications {
  font-size: 150%;
  font-style: italic;
  margin-bottom: 5px;
}

#publication-description {
  font-size: 120%;
  margin: 0px 8px 20px 8px;
}

#Top {
  background-color: rgb(65, 25, 81);
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: table;
}

#PDF-preview {
  border-radius: 10%;
  max-width: 800px;
  width: 100%;
  height: auto;
}
#site-description {
  text-align: right;
  margin-right: 15px;
  margin-bottom: 5px;
}
